@use 'sass:color';
@use 'sass:list';

$base-bg-colors: #845ec2, #ff9671, #ff6f91;
$base-color: white;
$variation-color: grey;

@mixin color-palette($container) {
  @for $i from 1 through 4 {
    .container-#{$container} .lighten-#{$i} {
      background-color: color.adjust(list.nth($base-bg-colors, $container), $lightness: $i * 5%);
      color: color.scale($variation-color, $lightness: $i * -5%);
    }
    .container-#{$container} .darken-#{$i} {
      background-color: color.adjust(list.nth($base-bg-colors, $container), $lightness: $i * -5%);
      color: color.adjust($variation-color, $lightness: $i * 5%);
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container-1, .container-2, .container-3 {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
  margin: 10px auto;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base-color;
    border-radius: 5px;
    min-width: 100px;
    height: 100px;
  }

  .base-color {
    min-width: 130px;
  }
  
}

@for $i from 1 through 3 {
  .container-#{$i} .base-color { 
    background-color: list.nth($base-bg-colors, $i);
  }
  @include color-palette($i);
}
