:root {
    --bg-nav: #007986;
    --bg-nav-hover: #305265;
    --color-nav-link: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    margin: 10px;
}

.navigation {
    width: 100%;
    background-color: var(--bg-nav);
}

.navigation__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navigation__content li {
    text-align: center;
}

.navigation__content li a {
    display: block;
    color: var(--color-nav-link);
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
}

.navigation__content li a:hover {
    background-color: var(--bg-nav-hover);
}

@media screen and (max-width: 600px) {
    .navigation__content {
        flex-direction: column;
        align-items: center;
    }
    .navigation__content li {
        width: 100%;
    }
    .navigation__content li a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}