@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manuale&display=swap');

:root {
    --base-bg-color: #47dd9a;
    --important-bg-color: #939bff;
    --warning-bg-color: #e69924;
    --primary-font-style: 'Newsreader', serif;
    --secondary-font-style: 'Manuale', serif;
    --box-font-style: 'Playpen Sans', cursive;
    --box-shadow: 15px 15px 10px 1px rgba(0,0,0,0.7);
}