@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --base-bg-color: #845ec2;
  --important-bg-color: #f9f871;
  --warning-bg-color: #ff6f91;
  --primary-font-style: "Roboto", sans-serif;
  --secondary-font-style: "Red Hat Text", sans-serif;
  --box-font-style: "Playpen Sans", cursive;
  --box-shadow: -15px 15px 10px 1px rgba(0, 0, 0, 0.7);
}
